[submodule "BHy1_driver_and_MCU_solution"]
	path = BHy1_driver_and_MCU_solution
	url = https://github.com/BoschSensortec/BHy1_driver_and_MCU_solution
[submodule "Monitoring_DragonBoard410c"]
	path = Monitoring_DragonBoard410c
	url = https://github.com/AnumSheraz/Monitoring_DragonBoard410c
[submodule "BMP3-Sensor-API"]
	path = BMP3-Sensor-API
	url = https://github.com/BoschSensortec/BMP3-Sensor-API
[submodule "libsoc"]
	path = libsoc
	url = https://github.com/jackmitch/libsoc
[submodule "96BoardsGPIO"]
	path = 96BoardsGPIO
	url = https://github.com/96boards/96BoardsGPIO
[submodule "upm"]
	path = upm
	url = https://github.com/intel-iot-devkit/upm
[submodule "mraa"]
	path = mraa
	url = https://github.com/intel-iot-devkit/mraa
